body {
    font-family: Arial, Helvetica, sans-serif;
}
section {
    margin-top: 40px;
    text-align: center;
    background-color: #f9e8bd;
    width: 50%;
    margin-left: 25%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 9px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
h1 {
    font-size: 2.4em;
    color: white;
    background-color: #ff7200;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 0px;
    border-radius: 6px 6px 0px 0px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding-bottom: 10px;

}
h2 {
    font-size: 1em;
    color: #FF7200;
    margin-top: 60px;
}
form {
    padding-bottom: 35px;
}
input {
    width: 70%;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom: 5px;
    padding: 6px;
}
#btn {
    margin-top: 10px;
    width: 30%;
    color: black;
    background-color: #ffb882;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
#btn:hover {
    background-color: #fca86c;
    
}

#chatbox {
    width: 50%;
    margin-left: 24.6%;
    background-color: #d3d3d3;
    margin-top: 20px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-bottom: 5px;
    padding: 6px;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul {
    float: right;
    padding-right: 40px;
    color: white;
    list-style-type: none;
}

#pagecontent h3 {
    color: white;
    background-color: #FF7200;
    padding: 30px;
    font-size: 1.5em;
    margin-bottom: 90px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
